html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lib-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1.5px solid blue;
  padding: 10px;
  min-width: 500px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 4px;
  color: rgb(106, 106, 255);
}

li {
  display: flex;
  height: 2rem;
  align-items: center;
}

li:nth-child(odd) {
  background: rgb(199, 225, 255);
}

.book-title {
  flex: 3;
  padding: 3px;
}

.book-author {
  flex: 6;
  padding: 3px;
}

.remove-btn {
  flex: 1;
  border: 1.5px solid grey;
  padding: 2px;
  color: red;
  font-weight: bold;
  margin-right: 5px;
  background: none;
  box-shadow: 2px 2px 2px grey;
}

hr {
  width: 8rem;
  margin: 0 auto;
  color: rgb(106, 106, 255);
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
}

input {
  width: 12rem;
  height: 1rem;
  padding: 4px;
  margin-top: 1rem;
  outline: none;
  border: 0.4px solid blue;
  border-radius: 3px;
}

.add-btn {
  margin-bottom: 3rem;
  height: 2rem;
  width: 4rem;
  color: white;
  background-color: blue;
}

.add-btn:hover {
  border: 1px solid white;
  cursor: pointer;
}

.remove-btn:hover {
  background: red;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px red;
}
