html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lib-container {
  margin-bottom: 1.5rem;
  border: 1px solid black;
  padding: 10px;
  min-width: 500px;
}

h1, 
h2 {
  text-align: center;
}

li {
  display: flex;
}

.book-title {
  flex: 3;
}

.book-author {
  flex: 6;
}

.remove-btn {
  flex: 1;
}

hr {
  width: 8rem;
  margin: 0 auto;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
}

input {
  width: 12rem;
  height: 1rem;
  padding: 4px;
  margin-top: 1rem;
}

.add-btn {
  margin-bottom: 3rem;
  height: 2rem;
  width: 4rem;
}
